<!--<div class="content-center">
    <div class="container">
        <div *ngFor="let gameInfo of games">
            <a class="iScoreCSSGameHref" href="https://sb.iscoresports.com/%22+url+%22" target="_blank" >
                <div class="iscoreCSScontent" url="">
                    <img src="./scoreboard_files/_baseball_.png" >
                    <div class="iscoreCSSgame_date" >{{gameInfo.date}}</div>
                    <div class="iscoreCSSgame_teamname" >{{gameInfo.visitor_nm}}</div>
                    <div class="iscoreCSSgame_teamname" >{{gameInfo.home_nm}}</div>
                    <div class="iscoreCSSgame_score" >{{gameInfo.visitor_score}}</div>
                    <div class="iscoreCSSgame_score" >{{gameInfo.home_score}}</div>
                    <div class="iscoreCSSgame_inning" >{{gameInfo.inning}}</div>
                </div>
            </a>
        </div>
        <div>
            <div class="iscoreCSScontent" url="https://iscoresports.com">
                <img src="./scoreboard_files/iscoresports_100x64.png">
                <div class="iscoreCSSpromo" >
                    Score your<br>own games at<br><a href="https://iscoresports.com/" target="_blank">iscoresports.com</a>
                </div>
            </div>
        </div>
    </div>
</div> -->


