<div class="wrapper">
    <div class="page-header page-header-small section-dark" style="background-image: url('assets/img/Advert.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="motto">
                  <h1 class="title-uppercase text-center">Advertising and Sponsorship</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
      <div class="content-center">
          <div class="container">
              <p>There are many inexpensive ways of advertising with the Hastings Hawks.  Our game-day program has several different sized ad spaces, I know one of them is the right size for your business.</p>
              <p>We also have opportunities to advertise on the outfield fence at Veteran's Baseball Field.</p>
              <p>If you are interested in any of these opportunities, please contact our Marketing Department at <a href="mailto:marketing@hastingshawks.com">marketing@hastingshawks.com</a></p>
          </div>
      </div>
    </div>
</div>