.player_card {
    border-bottom: 1px solid black;
    padding: 6px;
    margin: 12px;
    width: 400px;
}

.player_important {
    font-size: 1.8em;
    font-weight: bold;
    color: darkgreen;
}

.player_detail {
    font-size: 1.0em;
    font-weight: 300
}

img.player_image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    z-index: 100;
}