<div class="wrapper">
    <div class="page-header page-header-small section-dark" style="background-image: url('assets/img/roster.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="motto">
                  <h1 class="title-uppercase text-center">Roster</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
      <div class="content-center">
        <div class="container">
          <h2 class="title-uppercase text-center">{{CurrentYear}} Roster</h2>
            <div class="card-columns">
            <div *ngFor="let player of players | jerseysorter: 'JerseyNumber1'" class="player_card card" >
                  <img class="player_image" src="{{player.ImageURI}}" />
                  <div class="player_important">{{player.FirstName}} {{player.LastName}}</div>
                  <div class="player_important">#{{player.JerseyNumber1}}</div>
                  <div class="player_detail">{{player.Throws}}/{{player.Bats}}</div>
                  <div class="player_detail">{{player.Hometown}}</div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>