<div class="wrapper">
    <div class="page-header page-header-small section-dark" style="background-image: url('assets/img/schedule.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="motto">
                  <h1 class="title-uppercase text-center">Schedule and Ticket Information</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
      <div class="content-center">
          <div class="container">
            <h2 class="text-center">Tickets</h2>
            <p>Tickets are $3 at the park, available at concessions 45 min prior to the game start or you can pay when one of our team members walks through to collect.</p>
            <p>Throughout the season, we bring tickets to many of our sponsors to give to their customers/visitors for free. Stop in, thank them for supporting Hawks Baseball, shop, then come to one of our games for free!</p>
            <h2 class="text-center">Season Pass</h2>
            <p>Season Passes are also available at concessions for $40 and are good for all league and non-league home games except the playoffs.</p>
          </div>
        <div class="container">
          <h2 class="title-uppercase text-center">{{CurrentYear}} Schedule</h2>
            <div class="row">
                <div class="col-4"><h4>Date</h4></div>
                <div class="col-3"><h4>Location</h4></div>
                <div class="col-3"><h4>Opponent</h4></div>
            </div>
            <div *ngFor="let game of games" class="row game_row" >
                <div class="col-4"><span class="text-primary">{{game.Date | date : 'EEE, MMM d, h:mm a'}}</span></div>
                <div class="col-3"><span class="text-primary">{{game.Location}}</span></div>
                <div class="col-3"><span class="text-primary">{{game.Opponent}}</span></div>
            </div>
        </div>
          <div class="container">
              <h2 class="title-uppercase text-center">{{CurrentYear}} Game Schedule</h2>
              <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FChicago&amp;src=bmQxc2J2ZnIzbm9jZjBnNmpmMGw2ZjIyNGtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%230B8043&amp;title=Hastings%20Hawks&amp;showTitle=0&amp;mode=WEEK" style="border-width:0" class="fit" frameborder="0" scrolling="no"></iframe>
              <div *ngFor="let game of games" >
              </div>
          </div> 
      </div>
    </div>
</div>

