<div class="wrapper">
    <div class="page-header page-header-small section-dark" style="background-image: url('assets/img/vets_high.png')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="motto">
                  <h1 class="title-uppercase text-center">Veterans Park</h1>
                  <h3 class="text-center">Our Beloved Home</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
      <div class="content-center">
        <div class="container">
          <div class="motto">
            <h3 class="text-center">A Short History</h3>
            <p>Veterans Athletic Complex consists of four lighted adult softball fields with 285’ foot fences, four full-size multi-purpose fields (one has lights) and one baseball field with a 385’ foot fence. The complex also includes a playground set and two buildings with indoor bathrooms and concessions.</p>
            <p>Veterans Athletic Complex is operated by the City of Hastings Parks and Recreation Department and is open from April to October. Fields are used on a weekly basis by youth soccer, youth softball, adult softball, adult kickball, youth baseball, and the Hastings Hawks adult amateur baseball team. Fields can also be reserved by groups or organizations for practice, games, tournaments, or other functions.</p>
            <a href="http://www.ci.hastings.mn.us/Parks/PKVets.htm">City of Hastings Website for Veterans Park</a>
          </div>
        </div>
          <div class="container">
            <div class="motto">
              <h3 class="text-center">Concessions</h3>
              <p>The concession stand opened in 1999 thanks to many volunteers and donations. It's still going strong and a great way to support Hawks Baseball while keeping your bellies full.</p>
              <p>Below you will find a list of items available at the concessions stand.</p>
              <p><i>*Prices subject to change - Prices at park are current and final prices.</i></p>
              <p><a href="assets/data/Concessions stand pricing.pdf">CLICK HERE TO DOWNLOAD A PDF OF OUR MENU &amp; PRICING</a></p>
            </div>
            <div>
              <img src="assets/img/concessions2017.png" />
            </div>
          </div>
          <div class="container">
            <div class="motto">
              <h3 class="text-center">Directions</h3>
              <div>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d793.6060550823836!2d-92.83956657074506!3d44.72298429869372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87f7c1403f974915%3A0xd6a97b7ff2fe3178!2sSoccer+Field+Rd%2C+Hastings%2C+MN+55033!5e1!3m2!1sen!2sus!4v1514512160709" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
          </div>          
      </div>
    </div>
</div>

