<div class="wrapper">
    <div class="page-header page-header-small section-dark" style="background-image: url('assets/img/join.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="motto">
                  <h1 class="title-uppercase text-center">Join the Team</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
      <div class="content-center">
        <div class="container"> 
                <h2>Joining the Hawks</h2>
                <p>Thank you for your interest in Joining the Hastings Hawks. Before you complete this form, please confirm you are eligible to play for the Hawks based on the rules established by the Minnesota Baseball Association (MBA). A copy of the eligibility rule can be found in the MBA Handbook, Article 9. The handbook can be found <a href="https://s3.amazonaws.com/scoremonsterclients/2/pdf/documents/2018_handbook.pdf" target="_blank">here</a></p>.
                <p>The Hawks firmly believe in players fulfilling their commitments to their High School, Legion or VFW teams. If you are still playing for any of those teams, we believe they take priority. The ability to play at that level is a limited time opportunity. Our agreement with the coaches of those teams does allow you to join us for practices, warm ups and play in games as long as it doesn't conflict with your primary team. If you have a scheduled game with the other team, you are expected to be there.</p>
                <br><p>Form Coming Soon...</p>
              <!--  
                <form action="../gdform.php" method="post">
                <input type="hidden" name="redirect" value="app_complete.htm"></input>
                <input type="hidden" name="subject" value="Hastings Hawks Tryout Request"></input>
                    <p>First&nbsp;&nbsp; : 
                    <input type="text" name="_01_FirstName" tabindex="1" size="10"></input>&nbsp; 
                    Last :&nbsp; 
                    <input type="text" name="_02_LastName" tabindex="2" size="18"> </input>&nbsp; Age : 
                    <input name="_03_Age" type="text" value="" size="6" tabindex="3"></input><br />
                    Phone: <input type="text" name="_05_phone" tabindex="4" size="30"></input><br />
                    E-Mail: <input type="text" name="_04_email" tabindex="5" size="60"></input> 
                    <br />
                    <br />
                    Desired Positions<br />
                    <span class="style2">(Please use the Following Abbreviations)<br />
                    1B, 2B, 3B, SS, C, P, IF (for any infield), LF,CF,RF, OF(for any outfield)</span><br />
                    Pos 1: <input name="_15_Pos1" type="text" value="" size="3" tabindex="15"></input> 
                    Pos 2: <input name="_16_Pos2" type="text" value="" size="3" tabindex="16"></input> 
                    Pos 3: <input name="_17_Pos3" type="text" value="" size="3" tabindex="17"></input> 
                    Pos 4: <input name="_18_Pos4" type="text" value="" size="3" tabindex="18"></input> 
                    Pos 5: <input name="_19_Pos5" type="text" value="" size="3" tabindex="19"></input> &nbsp;<br />
                    <br />
                    Where have you played?<br />
                    <textarea name="_28_played" cols="40" rows="3" tabindex="28">Where have you played?</textarea><br />
                    <br />
                    <br />
                    Where can we see you play?<br />
                    <textarea name="_29_see_play" cols="40" rows="3" tabindex="29">Where can we see you play?</textarea><br />
                    <br />
                    <br />
                    Comments :<br />
                <textarea name="_30_comments" cols="40" rows="3" tabindex="30">Anything else we need to know?</textarea></p>
                    <input name="Reset1" type="reset" value="RESET"></input>&nbsp;&nbsp;&nbsp;&nbsp; <input type="submit" name="submit" value="SUBMIT"></input><br />
                </form> -->
            </div>
        </div>
    </div>
</div>

