<div class="wrapper">
    <div class="page-header page-header-small section-dark" style="background-image: url('assets/img/hawks Nick Horsch.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="motto">
                  <h1 class="title-uppercase text-center">Join the Team</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
      <div class="content-center">
        <div class="container">
            Information on how to join the team will be added soon.
      </div>
    </div>
</div>

