<div class="wrapper">
    <div class="page-header page-header-small section-dark" style="background-image: url('assets/img/mndot-construction.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="motto">
                  <h1 class="title-uppercase text-center">Construction Update</h1>
                  <h3 class="text-center">TH 316 Project</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
      <div class="content-center">
        <div class="container">
          <div class="motto">
            <h3 class="text-center">Veteran's Field Impact</h3>
            <p>Access to Veteran's Park will be impacted by the construction on 316, which is scheduled from May 24th through November, 2021.  Depending on the stage of the project, it may impact your best route to get to Veteran's Field. Please consult the MNDoT project website for the best detour to take.</p>
            <p>Currently, coming from the south, please use MN 61 to get into Hastings.  Access from the north is currently not impacted.</p>
            <a href="https://www.dot.state.mn.us/metro/projects/hwy316/index.html">MNDot Project Website</a>
          </div>
        </div>      
      </div>
    </div>
</div>
