<div class="wrapper">
    <div class="page-header page-header-small section-dark" style="background-image: url('assets/img/hastings_baseball_sign.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="motto">
                  <h1 class="title-uppercase text-center">News</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
      <div class="content-center">
        <div class="container">
          <app-newsreel [stories]="stories" ></app-newsreel> 
        </div>
      </div>
    </div>
</div>

