<div class="wrapper">
    <div class="page-header page-header-small section-dark" style="background-image: url('assets/img/Board_of_directors.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="motto">
                  <h1 class="title-uppercase text-center">Board of Directors</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
      <div class="content-center">
        <div class="container">
            <div class="card-columns">
                <div *ngFor="let boardmember of boardmembers" class="card">
                    <app-boardmember [member]="boardmember"></app-boardmember>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>