<footer class="footer">
    <div class="container">
        <div class="row">
            <h3>Our Sponsors</h3>
            <div class="col-lg-2 mr-auto">
                    <div class="card page-carousel">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                                <img src="assets/img/green-mill-logo.png" style="max-height:100px; margin:0 auto;" alt="Green Mill">
                                <div class="carousel-caption">
                                    <p></p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="assets/img/dq.png" style="max-height:100px; margin:0 auto;" alt="Dairy Queen">
                                <div class="carousel-caption">
                                    <p></p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="assets/img/schommer_insurance.jpg" style="max-height:100px; margin:0 auto;" alt="Schommer Insurance">
                                <div class="carousel-caption">
                                    <p></p>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>                
                <nav class="footer-nav">
                <ul>
<!--                    <li><a href="contact">Contact Us</a></li> -->
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, by Hastings Hawks Inc.
                </span>
            </div>
        </div>
    </div>
</footer>
