<footer class="footer">
    <div class="container">
        <div class="row">
            <h3>Our Sponsors</h3>
            <div class="col-lg-2 mr-auto">
                    <div class="card page-carousel">
                        <ngb-carousel>
                            <ng-template ngbSlide *ngFor="let sponsor of sponsors">
                                <img src="assets/data/sponsors.php?id={{sponsor.id}}" style="max-height:100px; margin:0 auto;" alt="{{sponsor.title}}">
                                <div class="carousel-caption">
                                    <p></p>
                                </div>    
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>                
                <nav class="footer-nav">
                <ul>
<!--                    <li><a href="contact">Contact Us</a></li> -->
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{now | date: 'yyyy'}}, by Hastings Hawks Inc.
                </span>
            </div>
        </div>
    </div>
</footer>
