<div class="content-center">
        <div class="container">
            <div class="motto">
              <h1 class="title-uppercase text-center">Game Day Live!!</h1>
            </div>
            <div>
                <h2><i class="nc-icon lg nc-headphones"></i><a href="http://thenorseman.myl2mr.com/"> Click Here to listen to the game live!</a> </h2>
            </div>
            <div>
                Mobile users may need to install the "Listen2MyRadio" app from either <a href="https://play.google.com/store/apps/details?id=com.listen2myapp.listen2myradio">Google Play Store</a> or <a href="https://itunes.apple.com/us/app/listen2myradio/id946025874?mt=8">The Apple Store</a> and then search for "TheNorsemen".
            </div>
            <div>
                <h2><i class="nc-icon lg nc-tablet-2"></i><a href="http://sb.iscoresports.com/scoreboard.php?g=5&n=96&sbid=661637c37bdd52851fd85ffa022c9a04"> Click Here for Live Stats!</a> </h2>
            </div>    
        </div>
        
    </div>

    
