<div class="content-center">
        <div class="container">
            <div class="motto">
              <h1 class="title-uppercase text-center">Game Day Live!!</h1>
            </div>
            <div>
                <h2><i class="nc-icon lg nc-headphones"></i><a href="http://podbean.com/lsw/hastingshawks"> Click Here to listen to the game live!</a> </h2>
            </div>
            <div>
                Mobile users may need to install the "PodBean" <img width="28" height="28" src="assets/img/PodBean.webp" /> app from either <a href="https://play.google.com/store/apps/details?id=com.podbean.app.podcast&hl=en_US&gl=US"><img height="28" src="assets/img/google_play.png"/></a> or <a href="https://apps.apple.com/us/app/podbean-podcast-app-player/id973361050"><img width="28" height="28" src="assets/img/app-store.png" /> The App Store</a> and then search for "Hastings Hawks Online".
            </div>
            <div>
                <h2><i class="nc-icon lg nc-tablet-2"></i><a href="http://sb.iscoresports.com/scoreboard.php?g=5&n=96&sbid=661637c37bdd52851fd85ffa022c9a04"> Click Here for Live Stats!</a> </h2>
            </div>    
        </div>
        
    </div>

    
