<div class="content-center">
        <div class="container">
            <div class="motto">
              <h1 class="title-uppercase text-center">Game Day Live!!</h1>
            </div>
            <div>
                <h2><i class="nc-icon lg nc-headphones"></i><a href="http://podbean.com/lsw/hastingshawks"> Click Here to listen to the game live!</a> </h2>
            </div>
            <p>NOTE: If you are on a mobile device, you may need to install the "PodBean" <img width="28" height="28" src="assets/img/PodBean.webp" /> app from either <a href="https://play.google.com/store/apps/details?id=com.podbean.app.podcast&hl=en_US&gl=US"><img height="28" src="assets/img/google_play.png"/></a> or <a href="https://apps.apple.com/us/app/podbean-podcast-app-player/id973361050"><img width="28" height="28" src="assets/img/app-store.png" /> The App Store</a>, start the app, and then search for "Hastings Hawks Online".</p>
            <div>
                <h2>Live Stats</h2>
                <div>
                    <p>Live stats are provided through iScoreCentral</p>
                    <p>Click on the current game, or a past game you are interested in replaying.</p>
                    <IFRAME scrolling='no' frameborder='0' style='border:none; width:1288px; height:110px' src='https://sb.iscoresports.com/scoreboard.php?g=5&n=110&sbid=661637c37bdd52851fd85ffa022c9a04' ></IFRAME>
                    <p>NOTE: If you are on a mobile device, you may need to install the iScoreCentral <img width="28" height="28" src="assets/img/iscorecentral.webp" /> app from either <a href="https://play.google.com/store/apps/details?id=com.tiplay.central"><img height="28" src="assets/img/google_play.png"/></a> or <a href="https://apps.apple.com/us/app/iscore-central-game-viewer/id978181909"><img width="28" height="28" src="assets/img/app-store.png" /> The App Store</a>, start the app, and then search for "Hastings Hawks".</p>
                </div>
            </div>    
        </div>
        
    </div>

    
